<h4>
  <% if (obj["Website"]) { %>
    <a href='<%= obj["Website"] %>' target='_blank'><%= obj["Name"] %></a>
  <% } else {%>
    <%= obj["Name"] %>
    <% } %>
</h4>
<p>
    <% { %>
        <a href='http://maps.google.com/?q=<%= obj["Address"] %>' target=><%= obj["Address"] %></a><br>
    <% } %>
</p>
<p>
    <% { %>
        <strong>Type of Food:</strong> <%= obj["Type of Food"] %><br>
        <strong>Meals Served:</strong> <%= obj["Meals Served"] %><br>
        <strong>Expected Price:</strong> <%= obj["Expected Price"] %><br>
        <strong>Rating:</strong> <%= obj["Rating"] %><br>
    <% } %>
</p>

<% if (obj["Menu Highlights"]) { %>
    <p>
        <strong>Menu Highlights</strong><br />
        <%= obj["Menu Highlights"] %>
    </p>
<% } %>

<% if (obj["Service Quality"]) { %>
    <p>
        <strong>Service Quality</strong><br />
        <%= obj["Service Quality"] %>
    </p>
<% } %>

<% if (obj["Considerations"]) { %>
    <p>
        <strong>Considerations</strong><br />
        <%= obj["Considerations"] %>
    </p>
<% } %>

<% if (obj["Extra Info"]) { %>
    <p>
        <strong>Extra Info</strong><br />
        <%= obj["Extra Info"] %>
    </p>
<% } %>
