<tr>
    <td>
      <% if (obj["Website"]) { %>
        <a href='<%= obj["Website"] %>' target='_blank'><%= obj["Name"] %></a>
      <% } else {%>
        <%= obj["Name"] %>
        <% } %>
    </td>
    <td>
        <a href='http://maps.google.com/?q=<%= obj["Address"] %>' target='_blank'><%= obj["Address"] %></a>
    </td>
    <td>
        <%= obj["Rating"] %>
    </td>
    <td>
        <%= obj["Type of Food"] %>
    </td>
    <td>
        <%= obj["Meals Served"] %>
    </td>
    <td>
        <%= obj["Expected Price"] %>
    </td>
</tr>
